
*{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
	text-align: center;
}

body{
	background-color: rgb(157, 109, 109);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
#theForm{
	background-color: white;
	padding: 15px;
  width: max-content;
  
	background-color: burlywood;
  border-radius: 25px;
  margin-bottom: 10px;

}

#submit{
  background-color: black;
  color: white;
  border-radius: 25px;
  height: 30px;
  width: 80px;
}
#submit:hover{
  background-color: white;
  color: black;
}
input{
  height: 30px;

 padding-left: 4px;
  
}

span{
	position: absolute;
    right: 17px;
    font-size: 14px;
    color: red;
}

  #pop{
    display: none;
   background-color: beige;
   right: 45%;
   top: 200px;
   width: 150px;
   -webkit-animation: fadeIn 1s;
   animation: fadeIn 1s
   
}
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  @media (max-width:900px){
    div{
      
      right: 30%;
     
     

    
    }
    span{
      position: absolute;
        right: 17px;
     
    }

    #pop{
     
     right: 45%;
     top: 200px;
     width: 150px;
   
     
  }
  #submit{
   
    border-radius: 25px;
    height: 30px;
    width: 80px;
  }



  }

  @media (max-width:500px){
    div{
      
      right: 40%;
    
    }
    span{
      position: absolute;
        right: 17px;
     
    }

    #pop{
     
     right: 45%;
     top: 200px;
     width: 150px;
   
     
  }
  #submit{
   
    border-radius: 25px;
    height: 30px;
    width: 80px;
  }



}
